{% extends 'app1/index.html' %}
{% load static %}



{% block body_block %}


        <!--================Home Banner Area =================-->
        <div class="">

                <title>GSCT | Networking Services</title>
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h2>Network Services</h2>
						<div class="page_link">

						</div>
					</div>
				</div>
            </div>
        </section>
      </div>

        <!--================End Home Banner Area =================-->

        <!--================About Area =================-->
        <section class="about_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2 style="text-decoration-line: underline;  margin-top: -80px;">Goals to Achieve for the leadership</h2>
        			<p style="font-family:Comic Sans MS; margin-top: 20px; font-size:15px;">"Technology is nothing. What’s important is that you have a faith in people, that they’re basically good and smart, and if you give them tools, they’ll do wonderful things with them."</p>
        		</div>
        		<div class="row about_inner">
        			<div class="col-lg-6">
						<div class="accordion" id="accordionExample">
							<div class="card">
								<div class="card-header" id="headingOne">
									<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Hardware Networking Training
									<i class="lnr lnr-chevron-down"></i>
									<i class="lnr lnr-chevron-up"></i>
									</button>
								</div>

								<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
									<div class="card-body">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingTwo">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								Networking Workshop
									<i class="lnr lnr-chevron-down"></i>
									<i class="lnr lnr-chevron-up"></i>
									</button>
								</div>
								<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
									<div class="card-body">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingThree">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									Networking Service
									<i class="lnr lnr-chevron-down"></i>
									<i class="lnr lnr-chevron-up"></i>
									</button>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
									<div class="card-body">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
									</div>
								</div>
							</div>

						</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="video_area" id="video">
							<img class="img-fluid" src="{% static 'img/courses/services networking.jpg' %}" style="border:solid black double; border-style:double; border-width:5px;" alt="">
							<a class="popup-youtube" href="https://www.youtube.com/watch?v=VufDd-QL1c0">
								<!-- <img src="{% static 'img/icon/video-icon-1.png' %}" alt=""> -->
							</a>
						</div>
        			</div>
        		</div>
        		<div class="about_details">


                <img src="{% static 'img/courses/networking.jpg' %}" height="220" width="380" style="padding: 10px;" alt="computer networking">
                <img src="{% static 'img/courses/networking-service.jpg' %}" height="220" width="380" style="padding: 10px;" alt="Hardware networking">
                <img src="{% static 'img/courses/CCNA-Networking.jpg' %}" height="220" width="350" style="padding: 10px;" alt="CCNA Networking">
                <p style=" margin-top: 50px;">

GSCT has always been on the leading edge of environmentally sustainable technology for engineered building systems as the two disciplines of the partners worked together to combine design and engineering ideas that conserved energy, increased indoor air quality and created advantages for the owner.  GSCT began working with experimental solar engineering, which led to work in Barbados and Zimbabwe in the early 1980s.  From there it continued to be on the cutting edge of applications of new technology.

Unfortunately, George Bowman, who was older than the other two partners, died in 1988 and, a few years later, John and Grant dissolved the partnership to go their separate ways, but in similar fields. John Hockman entered the area of residential energy efficiency while Grant Wichenko carried on the work and growth of GSCT – primarily in HVAC and controls design for commercial buildings and facilities management training.

Throughout the last 30 years GSCT has developed many innovative systems for energy savings and efficiency and the application of cutting edge technologies to improve sustainability in the built environment.  The firm has worked on solutions for various topical building environmental problems such as UFFI, radon, mould and other indoor air quality issues.  GSCT, under the leadership of Grant Wichenko, has upgraded the HVAC systems in many older buildings throughout Manitoba, particularly schools, designing and overseeing the installation of systems that improve the work environment for the occupants and save energy dollars for the building owners and operators.  GSCT has also provided training courses for those that operate these systems.

GSCT is now leading the way in design and implementation of Building Automation Systems (BAS), the use of remote controls for energy savings, Smart Grid applications and efficient facilities management.  GSCT has clients all across North America and is working on projects from Rankin Inlet, Nunavut to Mississippi and with a wide assortment of clients that include the Federal, State, Provincial and Local government bodies.

Enabling an equipment provider to have remote access to complex equipment for problem diagnosis and possible repair offers the possibility for enormous financial and environmental savings in avoided travel costs to remote locations.  It also presents security challenges for some clients.  Consistent with the company history, GSCT is creating solutions for these problems.  See the BAS section of this web site for details of the way that GSCT works as the BAS consultant with professional from other disciplines to provide a coordinated controls implementation process for the Owner/Developer.

In the summer of 2010, the staff of GSCT arranged a surprise party in GSCT’s Board room to help Grant celebrate the 30th anniversary of the founding of “GSCT Solar Associates”.</p>
        		</div>
        	</div>
        </section>
        <!--================End About Area =================-->


{% endblock %}
