{% extends 'app1/index.html' %}
{% load static %}



{% block body_block %}


        <!--================Home Banner Area =================-->
        <div class="">

                <title>GSCT | Website Development</title>
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h2>Website Development</h2>
						<div class="page_link">

						</div>
					</div>
				</div>
            </div>
        </section>
      </div>

        <!--================End Home Banner Area =================-->

        <!--================About Area =================-->
        <section class="about_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2 style="text-decoration-line: underline;  margin-top: -80px;">Goals to Achieve for the leadership</h2>
        			<p style="font-family:Comic Sans MS; margin-top: 20px; font-size:15px;">“A successful website does three things:
It attracts the right kinds of visitors.
Guides them to the main services or product you offer.
Collect Contact details for future ongoing relation.”</p>
        		</div>
        		<div class="row about_inner">
        			<div class="col-lg-6">
						<div class="accordion" id="accordionExample">
							<div class="card">
								<div class="card-header" id="headingOne">
									<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Website Design and Development Training
									<i class="lnr lnr-chevron-down"></i>
									<i class="lnr lnr-chevron-up"></i>
									</button>
								</div>

								<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
									<div class="card-body">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingTwo">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								Website Development projects
									<i class="lnr lnr-chevron-down"></i>
									<i class="lnr lnr-chevron-up"></i>
									</button>
								</div>
								<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
									<div class="card-body">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingThree">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									Website Develop & Manage for Bussiness
									<i class="lnr lnr-chevron-down"></i>
									<i class="lnr lnr-chevron-up"></i>
									</button>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
									<div class="card-body">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
									</div>
								</div>
							</div>

						</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="video_area" id="video">
							<img class="img-fluid" src="{% static 'img/courses/services website development.jpg' %}" style="border:solid black double; border-style:double; border-width:5px;" alt="services website development">
							<a class="popup-youtube" href="https://www.youtube.com/watch?v=VufDd-QL1c0">
								<!-- <img src="{% static 'img/icon/video-icon-1.png' %}" alt=""> -->
							</a>
						</div>
        			</div>
        		</div>
        		<div class="about_details">


                <img src="{% static 'img/courses/website-development.jpg' %}" height="220" width="380" style="padding: 10px;" alt="website-development">
                <img src="{% static 'img/courses/corporate-DigitalMarketing.jpg' %}" height="220" width="380" style="padding: 10px;" alt="web design">
                <img src="{% static 'img/courses/web-development.png' %}" height="220" width="350" style="padding: 10px;" alt=" web development">


                <br><br><br><br><br><br>
              <a href="/course-enquiry">
                   <button type="button" name="button" class="btn btn-info" align="center">Enquiry Now !</button>
              </a>

                <h3  style="margin-top: 50px; color:black">Our Success Story......</h3>


 


        		</div>
        	</div>
        </section>
        <!--================End About Area =================-->



{% endblock %}
