{% extends 'app1/index.html' %}
{% load static %}
{% block body_block %}
{% load crispy_forms_tags %}


<div class="container">
  <h1 align=center>SERVICE ENQUIRY</h1>

{% if serviceenq %}
<table class='table table-dark table-hover'>
  <th>Sn</th>   <th>Name</th>   <th>Mobile</th>   <th>Email</th>    <th>Working Organization</th>    <th>Gender</th> <th>Service</th>
  {% for enq in serviceenq %}

  <tr>
      <td>{{ forloop.counter}}</td>
      <td>{{enq.ClientName}}</td>
      <td>{{enq.Mobile}}</td>
      <td>{{enq.Email}}</td>
      <td>{{enq.WorkingOrganization}}</td>
      <td>{{enq.Gender}}</td>
      <td>{{enq.ServiceChoice}}</td>
      <td>


          <!-- Trigger the modal with a button -->
            <!-- <a href="/deleteserviceenq/{{enq.id}}" class="btn btn-outline-success">
              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">
                <span class="fa fa-trash" aria-hidden="true"></span></button></a> -->

                <!-- Trigger the modal with a button -->
                                    <!-- <button type="button" class="btn btn-outline-danger " data-toggle="modal" data-target="#myModal">
                                      <span class="fa fa-trash" aria-hidden="true"></span></button> -->

          <a href="{%  url 'delete_service_enq' enq.id %}" class="btn btn-outline-danger" > <span class="fa fa-trash" aria-hidden="true"></span></a>

          <!-- <button type="button" class="btn btn-outline-danger" onclick="window.location.href='/'">
                                        <span class="fa fa-trash" aria-hidden="true"></span></button> -->

        </td>
      </tr>


            <!-- DELETE CONFIRMATION POPUP DIV START-->
            <div class="container">
            <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
              <div>
                <div class="modal-header" style="background:#910f06; color:white;">
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                  <h4 class="modal-title"><span class="glyphicon glyphicon-alert"></span> Delete Confirmation !</h4>
                </div>
              </div>
              <div class="modal-body">
                Do You Want To Delete this Enquiry!
              </div>
              <div class="modal-footer">
                <a href="/deleteserviceenq/{{enq.id}}"><button type="button" class="btn btn-danger">Confirm</button></a>
                <a href="#"> <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button></a>
              </div>
                    </div>
                  </div>
              </div>
            </div>

    {% endfor %}
  </table>

  {% else %}
  <h3 align=center>No Enquiry found</h3>
  {% endif %}
</div>

{% endblock %}
