{% extends 'app1/index.html' %}
{% load static %}
{% block body_block %}

        <!--================Home Banner Area =================-->
<div class="">
  <title>GSCT | COMPUTER COURSES</title>
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h2>Courses</h2>
						<div class="page_link">
							<a href="/">Home</a>
							<a href="/courses">Courses</a>
						</div>
					</div>
				</div>
            </div>
        </section>
      </div>

        <!--================End Home Banner Area =================-->

        <!--================Courses Area =================-->
        <section class="courses_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Popular Courses</h2>
        			<p>This is a only one  place where you can completely develop your IT skill And get a big opportunity if you have ambition to get zenith position in your life.There is a moment in the life of any aspiring astronomer that it is time to buy that first . It’s exciting to think about setting up your own viewing station.</p>
        		</div>
        		<div class="row courses_inner">
        			<div class="col-lg-9">
						<div class="grid_inner">
							<div class="grid_item wd55">
								<div class="courses_item">
									<img src="{% static 'img/courses/course-1.jpg' %}" height="220" width="500" alt="Data analytics">
									<div class="hover_text">
										<a class="cat" href="/course-enquiry">Enroll Now</a>
										<a href="/courseenq"><h4>Data Science </h4></a>
										<ul class="list">

										</ul>
									</div>
								</div>
							</div>




							<div class="grid_item wd44">
								<div class="courses_item">
									<img src="{% static 'img/courses/course-2.jpg' %}" height="220" width="360 alt="IT Security">
									<div class="hover_text">
										<a class="cat" href="/course-enquiry">Enroll Now</a>
										<a href="/course-enquiry"><h4>IT Security(Ethical Hacking)</h4></a>
										<ul class="list">


										</ul>
									</div>
								</div>
							</div>
							<div class="grid_item wd44">
								<div class="courses_item">
									<img src="{% static 'img/courses/programming-language.jpg' %}" height="220" width="500"  alt="programming-language">
									<div class="hover_text">
										<a class="cat" href="/course-enquiry">Enroll Now</a>
										<a href="/courseenq"><h4>Programming Language</h4></a>
										<ul class="list">


										</ul>
									</div>
								</div>
							</div>
							<div class="grid_item wd55">
								<div class="courses_item">
									<img src="{% static 'img/courses/website development.jpg' %}" height="220" width="500" alt="website development">
									<div class="hover_text">
										<a class="cat" href="/course-enquiry">Enroll Now</a>
										<a href="/courseenq"><h4>Website Development </h4></a>
									</div>
								</div>
							</div>
						</div>
        			</div>
        			<div class="col-lg-3">
        				<div class="course_item">
							<img src="{% static 'img/courses/course-3.jpg' %}" height="470" width="260 alt="Server and CCNA">
							<div class="hover_text">
							<a class="cat" href="/course-enquiry">Enroll Now</a>
								<a href="/courseenq"><h4>Server & CCNA</h4></a>

							</div>
						</div>
        			</div>

                  <div class="grid_item wd44">
                                <div class="courses_item">
                                    <img src="{% static 'img/courses/cloud computing (2).jpg' %}" height="300" width="600  alt="cloud computing">
                                    <div class="hover_text">
                                        <a class="cat" href="/course-enquiry">Enroll Now</a>
                                        <a href="/courseenq"><h4>Cloud Computing</h4></a>
                                        <ul class="list">


                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="grid_item wd55">
                                <div class="courses_item">
                                    <img src="{% static 'img/courses/digital marketing.jpg' %}" height="300" width="750" alt="digital marketing">
                                    <div class="hover_text">
                                        <a class="cat" href="/course-enquiry">Enroll Now</a>
                                        <a href="/courseenq"><h4>Digital Marketting </h4></a>
                                    </div>
                                </div>
                            </div>
                            <div class="grid_item wd44">
                                          <div class="courses_item">
                                              <img src="{% static 'img/courses/computer application.jpg' %}" height="300" width="500"  alt="computer application">
                                              <div class="hover_text">
                                                  <a class="cat" href="/course-enquiry">Enroll Now</a>
                                                  <a href="/courseenq"><h4>Computer Application</h4></a>
                                                  <ul class="list">


                                                  </ul>
                                              </div>
                                          </div>
                                      </div>

                                      <div class="grid_item wd55">
                                          <div class="courses_item">
                                              <img src="{% static 'img/courses/linux.jpg' %}" height="300" width="750" alt="Linux">
                                              <div class="hover_text">
                                                  <a class="cat" href="/course-enquiry">Enroll Now</a>
                                                  <a href="/courseenq"><h4>LINUX </h4></a>
                                              </div>
                                          </div>
                                      </div>

                                 		</div>
        	</div>
        </section>
        <!--================End Courses Area =================-->
{% endblock %}
