{% extends 'app1/index.html' %}
{% load static %}
{% block body_block %}

        <!--================Home Banner Area =================-->
<div class="">

        <title>GSCT | COMPUTER COURSE-DETAILS</title>

        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h2>Course Details</h2>
						<div class="page_link">
							<a href="/">Home</a>
							<a href="/courses">Course</a>
							<a href="/course-details">Course Details</a>
						</div>
					</div>
				</div>
            </div>
        </section>
    </div>

        <!--================End Home Banner Area =================-->
                <!-- ================Finance Area =================-->

        <!-- <section class="finance_area">
        	<div class="container">
        		<div class="finance_inner row">
        			<div class="col-lg-3 col-sm-6">
        				<div class="finance_item">
        					<div class="media">
        						<div class="d-flex">
        							<i class="lnr lnr-rocket"></i>
        						</div>
        						<div class="media-body">
        						<a href=" course_Detail/secprogram.html">	<h5>Secure<br />Programming</h5></a>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="finance_item">
        					<div class="media">
        						<div class="d-flex">
        							<i class="lnr lnr-earth"></i>
        						</div>
        						<div class="media-body">
        							<a href=" course_Detail/web.html"><h5>Website<br />Development </h5></a>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="finance_item">
        					<div class="media">
        						<div class="d-flex">
        							<i class="lnr lnr-earth"></i>
        						</div>
        						<div class="media-body">
        							<a href=" course_Detail/security.html"><h5>Information Security & <br />Ethical Hacking </h5></a>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="finance_item">
        					<div class="media">
        						<div class="d-flex">
        							<i class="lnr lnr-tag"></i>
        						</div>
        						<div class="media-body">
        							<a href=" course_Detail/Networking.html"><h5>Networking <br />CCNA</h5></a>
        						</div>
        					</div>
        				</div>
        			</div>


        				<br />
        				<br />
        				<br />
        				<br />
        				<br />
        				<br />

        			<div class="col-lg-3 col-sm-6">
        				<div class="finance_item">
        					<div class="media">
        						<div class="d-flex">
        							<i class="lnr lnr-earth"></i>
        						</div>
        						<div class="media-body">
        							<a href=" course_Detail/linux.html"><h5>Linux & <br />Server </h5></a>
        						</div>
        					</div>
        				</div>
        			</div>

        			 <div class="col-lg-3 col-sm-6">
        				<div class="finance_item">
        					<div class="media">
        						<div class="d-flex">
        							<i class="lnr lnr-earth"></i>
        						</div>

        						<div class="media-body">
        							<a href=" course_Detail/digital.html"><h5>Graphics Design & <br />Digital Marketting</h5> </a>
        						</div>
        					</div>
        				</div>
        			</div>

        			<div class="col-lg-3 col-sm-6">
        				<div class="finance_item">
        					<div class="media">
        						<div class="d-flex">
        							<i class="lnr lnr-earth"></i>
        						</div>

        						<div class="media-body">
        						<a href=" course_Detail/basic.html"><h5>Basic & <br />Tally </h5></a>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="finance_item">
        					<div class="media">
        						<div class="d-flex">
        							<i class="lnr lnr-earth"></i>
        						</div>

        						<div class="media-body">
        							<a href=" course_Detail/cloud.html"><h5>Cloude <br />Computing </h5></a>
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section> -->
        <!--================End Finance Area =================

        <!--================Course Details Area =================-->
        <section class="course_details_area p_60">
        	<div class="container">
        		<div class="row course_details_inner">
        			<div class="col-lg-8">
        				<div class="c_details_img">
        					<img class="img-fluid" src="img/courses/course-details.jpg" alt="">
        				</div>


							</div>
						</div>
					</div>


        </section>
        <!--================End Course Details Area =================-->

        <!--================About Area =================-->
        <section class="about_area p_120">
          <div class="container">

            <div class="row about_inner">
              <div class="col-lg-6">
            <div class="accordion" id="accordionExample">
              <div class="card">
Secure Programming
                <div class="card-header" id="headingOne">

                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                  Secure Programming
                  <i class="lnr lnr-chevron-down"></i>
                  <i class="lnr lnr-chevron-up"></i>
                  </button>

                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <<pre>
                      PROGRAMMING IN C

                      UNIT 1: THE BASICS OF C
                      UNIT 2: DATA TYPE UNIT 3: C OPERATORS
                      UNIT 4: CONTROL STRUCTURES
                      UNIT 5: LOOP UNIT 6: FUNCTION
                      UNIT 7: STORING VARIABLES
                      UNIT 8: ARRAYS AND POINTERS
                      UNIT 9: C PREPROCESSORS
                      UNIT 10: STRUCTURES AND UNION
                      UNIT 11: FILES HANDLING
                      UNIT 12: STANDARD LIBRARY FUNCTIONS
                      UNIT 13: STRINGS

                      PROGRAMMING IN C++
                      UNIT 1 INTRODUCTION TO C++
                      UNIT 2: CLASSES AND OBJECTS
                      UNIT 3 INHERITANCES
                      UNIT 4 POLYMORPHISM
                      UNIT 5 GENERIC FUNCTIONS
                      UNIT 6 STREAMS AND FILES
                      UNIT 7 NAMESPACE, EXCEPTION HANDLING & STL
                    </pre>
                 </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">

                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Website Development
                  <i class="lnr lnr-chevron-down"></i>
                  <i class="lnr lnr-chevron-up"></i>
                  </button>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
<pre>
  Duration: 2 months.

UNIT 1: HTML.
UNIT 2: HTML-5
UNIT 3: CSS, CSS-3
UNIT 4: JS (java script) including J query
UNIT 5: Photoshop
UNIT 6: Plugins (google map ,google icons)
UNIT 9: Bootstrap
UNIT 10:Project
</pre>                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Networking & CCNA
                  <i class="lnr lnr-chevron-down"></i>
                  <i class="lnr lnr-chevron-up"></i>
                  </button>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
<pre>
Computer Hardware
Assembling
Operating System
Operating System Installation
Software installation
File SYSTEM
Basic Of Networking
Transmission media
Topology
Inter Networking Devices
OSI Model
TCP/IP Model
IP Addressing
Pratical Session

Basic Of CCNA
Types of Networking


                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingfour">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                  Information Security & Ethical Hacking
                  <i class="lnr lnr-chevron-down"></i>
                  <i class="lnr lnr-chevron-up"></i>
                  </button>
                </div>
                <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
                  <div class="card-body">
                    <<pre>
                      Duration: 6 months / 6 weeks(Diploma /Certification program )


                      Course Content:

                      MODULE: INTRODUCTION TO INFORMATION SECURITY

                      MODULE: DESKTOP AND SERVER SECURITY
                      UNIT 1: DESKTOP AND SERVER SECURITY
                      UNIT 2: WINDOWS INTRODUCTION AND SECURITY
                      UNIT 3: LINUX SECURITY

                      MODULE: DATA SECURITY
                      UNIT1: DATA SECURITY
                      UNIT 2: DATABACKUP
                      UNIT 3: CRYPTOGRAPHY
                      UNIT 4: STEGANOGRAPHY
                      UNIT 5:- PHYSICAL SECURITY

                      MODULE: NETWORK SECURITY

                      UNIT 1: VIRTUAL PRIVATE NETWORK SECURITY
                      UNIT 2: WIRELESS LAN
                      UNIT 3: ROUTER SECURITY
                      UNIT 4: INTRUSION DETECTION AND PREVENTION
                      UNIT 5: ACCESS CONTROL SYSTEM

                      MODULE: WEB SECURITY

                      UNIT 1: LAN SECURITY
                      UNIT 2: FIREWALL SECURITY
                      UNIT 3: INTERNET SECURITY
                      UNIT 4: E-MAIL SECURITY

                      MODULE: VAPT

                      UNIT 1: INTRODUCTION TO VAPT
                      UNIT 2: VULNERABILITY ASSESSMENT
                      UNIT 3: PENETRATION TESTING

                      MODULE: PROTECTION FROM HACKING ATTACKS

                      UNIT 1: MALWARES
                      UNIT 2: NETWORK INTRUSION
                      UNIT 3: ART OF GOOGLING

                      MODULE: INFORMATION SECURITY MANAGEMENT SYSTEM
                      UNIT 1: SECURITY AUDITING
                      UNIT 2: LEAD AUDITOR: IT (LA-27001)

                      MODULE: CYBER LAWS AND IT ACTS

                      MODULE: CYBER FORENSICS

                      UNIT 1: CYBER CRIME
                      UNIT 2: CYBER FORENSICS
                      UNIT 3: CATCHING CRIMINALS
                      UNIT 4: MOBILE FORENSICS

                      MODULE: COMMUNICATION SECURITY

                      UNIT 1: MOBILE SECURITY
                      UNIT 2: VOICE OVER INTERNET PROTOCOL
                      UNIT 3: E-MAIL SECURI
                    </pre>
                   </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingfive">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                  Linux & Server
                  <i class="lnr lnr-chevron-down"></i>
                  <i class="lnr lnr-chevron-up"></i>
                  </button>
                </div>
                <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
                  <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingsix">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                Digital Marketing & Graphics Design
                  <i class="lnr lnr-chevron-down"></i>
                  <i class="lnr lnr-chevron-up"></i>
                  </button>

                </div>
                <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
                  <div class="card-body">
                    <pre>
                      Duration: 3 months

                      Content:

                      Introduction
                      What is On-Page Optimization?
                      What is OFF-Page Optimization?
                      Search Engine Algorithms
                      How to optimize your site for Google hummingbird, panda, penguin and Google EMD update?
                      Web Analytics
                      Content Performance Analysis
                      Social media analytics
                      SEO On page (Search Engine Optimization)
                      SEO Off page (Search Engine Optimization)
                      SEO of Wordpress Websites.
                      SEO of E-commerce websites.
                      SMO (Social Media Optimization)
                      SMM (Social Media Marketing)
                      Google Analytics
                      Google Adwords
                      Visitors Analysis
                    </pre>                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingseven">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseven" aria-expanded="false" aria-controls="collapseven">
                  Cloude Computing
                  <i class="lnr lnr-chevron-down"></i>
                  <i class="lnr lnr-chevron-up"></i>
                  </button>
                </div>
                <div id="collapseven" class="collapse" aria-labelledby="headingven" data-parent="#accordionExample">
                  <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingeight">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                  Basic & Tally
                  <i class="lnr lnr-chevron-down"></i>
                  <i class="lnr lnr-chevron-up"></i>
                  </button>
                </div>
                <div id="collapseeight" class="collapse" aria-labelledby="headingeight" data-parent="#accordionExample">
                  <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                  </div>
                </div>
              </div>
            </div>
              </div>





              <div class="col-lg-6">
                <div class="video_area" id="video">
              <img class="img-fluid" src="{% static 'img/hack4.jpg' %}" alt="">
              <a class="popup-youtube" href="https://youtu.be/3zYS5Q2FwJY">
                <img src="{% static 'img/icon/video-icon-1.png' %}" alt="">
              </a>
            </div>
              </div>
            </div>

        </section>
        <!--================End About Area =================-->

{% endblock %}
