{% extends 'app1/index.html' %}
{% load static %}
{% block body_block %}
{% load crispy_forms_tags %}

<div class="bg-white">

<title>GSCT | COURSE ENQUIRY</title>
<!-- <div class="card card-body bg-light col-sm-4 col-md-5 col-lg-4" id="mrgin-top"> -->
  <div class="card" style="width: 21rem; margin-top:150px;">
    <div class="card-body">

    <h2 align=center>Enrollment Form</h2>
    <form method="post" enctype="multipart/form-data">
      <table>
        {{ form.as_table }}
      {% csrf_token %}
    </table>
      <input type="submit" class="btn btn-sm btn-info" value="Submit">
    </form>
</div>

</div>




{% endblock %}
